html,
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
img,
form,
fieldset,
legend,
label,
input,
button,
select,
textarea,
pre,
code,
section,
header,
article {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol {
  list-style: none;
}
fieldset {
  padding: 0 0.5em 0.5em;
  border: 1px solid #ccc;
}
legend {
  padding: 0 0.5em;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  text-align: left;
}
input,
button,
select,
textarea {
  outline: none;
}
input:disabled,
textarea:disabled {
  color: #545454;
  background: #fff;
}
button:disabled,
.ui-btn.disabled {
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
}
label,
input,
select,
textarea,
button:disabled {
  -webkit-tap-highlight-color: transparent;
}
textarea {
  resize: vertical;
}
img {
  vertical-align: top;
}
img,
iframe {
  border: 0 none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #08c;
}
a:link {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.tov {
  text-indent: -1000em;
}
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.pos-fixed {
  position: fixed;
}
.pos-sticky {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
}
.not-display {
  display: none;
}
.not-visible {
  visibility: hidden;
}
.top-z-index {
  z-index: 10000 !important;
}
.flow-hidden {
  overflow: hidden !important;
}
.flow-visible {
  overflow: visible !important;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: '';
  clear: both;
}
html,
input,
button,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif, "宋体";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}
